/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    /* colors */
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --filter-border-color: #D9D9D9;

    /* Text configuration */
    --body-font-size: 1rem;
    --body-small-font-size: 0.875rem;
    --body-large-font-size: 1.125rem;
    --body-xxs-font-size: 0.815rem;
    --form-font-size: 1.125rem;
    --filter-font-size: 1.065rem;
    --nav-font-size: 1rem;
    --title-font-size: 1.375rem;
    --card-title-font-size: 1rem;
    --card-subtitle-font-size: 0.875rem;

    --body-font-weight: 500;
    --bold-font-weight: 700;

    --form-and-filter-line-height: 3.125rem;
}

body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
}

section {
    margin-top: 35px;
}

a, p, li, span {
    font-weight: var(--body-font-weight);
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.fa-solid {
    color: var(--main-color);
}

.section-title {
    margin: 0;
    font-size: var(--title-font-size);
}

/****** Header ***********/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo {
    width: 3.75rem;
    margin: 30px 0;
}
.main-menu ul {
    display: flex;
    flex-direction: row;
}
.main-menu li:not(:last-child) {
    margin-right: 4.25rem;
}
.main-menu a {
    display: block;
    font-size: var(--nav-font-size);
    padding-top: 14px;
    border-top: 2px solid white;
}
.main-menu a.active-entry,
.main-menu a:hover {
    color: var(--main-color);
    border-top-color: var(--main-color);
}

/****** Form - location search ***********/
.headline-text {
    margin-top: 8px;
}
.search-label i,
.search-text,
.search-submit {
    font-size: var(--form-font-size);
    font-weight: var(--bold-font-weight);
    line-height: var(--form-and-filter-line-height);
    text-align: center;
}
.search-submit-mobile {
    display: none;
}
.search-form {
    display: flex;
    margin: 35px 0;
    height: 3.125rem;
}
.search-label {
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    cursor: pointer;
}
.search-label i {
    color: black;
    width: 3.125rem;
    font-size: 1.2rem;
}
.search-text {
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: var(--main-bg-color);
    width: 12.2rem;
}
.search-text:focus-visible {
    outline: none;
}
.search-text,
.search-submit {
    padding: 0 16px;
}
.search-submit {
    color: white;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

/****** Filters ***********/
.filter-title {
    font-size: var(--body-large-font-size);
    font-weight: var(--bold-font-weight);
    line-height: var(--form-and-filter-line-height);
}
.filter-text {
    font-size: var(--filter-font-size);
    font-weight: var(--bold-font-weight);
    line-height: var(--form-and-filter-line-height);
}
.filter-form,
.filter-list,
.filter-info {
    display: flex;
}
.filter-form {
    margin: 35px 0;
}
.filter-list {
    column-gap: 15px;
}
.filter-item {
    border-radius: 25px;
    border: 2px solid var(--filter-border-color);
    padding: 0 19px;
    cursor: default;
}
.filter-item:hover {
    background-color: var(--filter-bg-color);
}
.filter-title {
    margin-right: 15px;
}
.filter-icon {
    font-size: 1.2rem;
    margin-right: 10px;
}
.info-icon {
    border: 1px solid var(--filter-border-color);
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 20px;
    text-align: center;
    font-size: 0.7rem;
    margin-right: 10px;
}
.info-text {
    line-height: 1.5rem;
}

/****** Hebergements And Populaires And Activites ***********/
.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}
.card-wrap {
    flex-grow: 1;
}
.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: var(--card-title-font-size);
    font-weight: var(--bold-font-weight);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
}
.hebergements-and-populaires .card {
    padding: 5px;
}
.card-subtitle {
    font-size: var(--card-subtitle-font-size);
    font-weight: var(--body-font-weight);
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.hebergements-cards {
    margin-bottom: 30px;
}
.hebergements-cards .card {
    min-width: 220px;
}
.hebergements-cards img {
    width: 100%;
    height: 7.125rem;
    border-radius: 20px 20px 0 0;
}
.hebergements-cards .card-content {
    padding: 5px 10px 10px 10px;
}
.hebergements-cards .card-title {
    margin: 0 0 8px 0;
}
.hebergements-cards .card-subtitle {
    margin-bottom: 8px;
}
.hebergements-cards .card-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0.875rem;
    width: 5.1rem;
}
.hebergements-cards .card-rating i {
    font-size: 0.85rem;
}
.hebergements .more-link {
    font-size: var(--body-large-font-size);
    font-weight: var(--bold-font-weight);
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}
.populaires-cards {
    flex-direction: column;
}
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.populaires-cards .card {
    display: flex;
}
.populaires-cards img {
    width: 33%;
    height: 8.5rem;
    border-radius: 20px 0 0 20px;
}
.populaires-cards .card-content {
    width: 67%;
    padding: 10px 10px 0 15px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.populaires-cards .card-title {
    margin: 0 0 4px 0;
}
.populaires-cards .card-subtitle {
    margin: 0;
}
.populaires-cards .card-rating {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 0.75rem;
    width: 4.5rem;
}
.populaires-cards .card-rating i {
    font-size: 0.75rem;
}

/****** Activites ***********/
.activites {
    padding: 30px;
}
.activites .card-wrap {
    width: 20%;
}
.activites .card {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.activites img {
    height: 23.75rem;
    border-radius: 20px 20px 0 0;
}
.activites .card-content {
    padding: 20px;
    margin: auto 0;
}
.activites .card-title {
    margin: 0;
}

/****** Footer ***********/
footer {
    display: flex;
    background-color: var(--main-bg-color);
    margin-top: 35px;
}
.footer-menu {
    flex: 30% 1 0;
    padding: 20px;
}
.footer-title {
    font-size: var(--body-large-font-size);
    margin-bottom: 15px;
    margin-top: 0;
}
.footer-menu li {
    font-size: var(--body-font-size);
    margin-top: 15px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /****** Filter ******/
    .filter-form {
        flex-direction: column;
    }


    /****** Hebergements And Populaires***********/
    .hebergements-and-populaires {
        flex-direction: column;
    }

    /****** Hebergements ***********/
    .hebergements {
        width: 100%;
    }

    /****** Hebergements And Populaires***********/
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: var(--body-small-font-size);
    }

    .populaires-cards .card-subtitle {
        font-size: var(--body-xxs-font-size);
    }

    /****** Activities ***********/
    .activites img {
        height: 12.5rem;
    }

    /****** Footer ***********/
    footer {
        column-gap: 30px;
    }
    .footer-title {
        font-size: var(--body-font-size);
    }
    .footer-menu li {
        font-size: var(--body-small-font-size);
    }

}

/* Exception rule for filter breakpoint */
@media (max-width: 802px) {
    /****** Filter ******/
    .filter-list {
        flex-wrap: wrap;
        row-gap: 15px;
        column-gap: 10px;
        max-width: 370px;
    }
    .filter-item {
        font-size: var(--body-small-font-size);
        min-width: 180px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {

    /****** Header ***********/




}