/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    /* colors */
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --filter-border-color: #D9D9D9;

    /* Text configuration */
    --body-font-size: 1rem;
    --body-small-font-size: 0.875rem;
    --body-large-font-size: 1.125rem;
    --form-font-size: 1.125rem;
    --filter-font-size: 1.065rem;
    --nav-font-size: 1rem;
    --title-font-size: 1.375rem;
    --card-title-font-size: 1rem;
    --card-subtitle-font-size: 0.875rem;

    --body-font-weight: 400;
    --bold-font-weight: 700;

    --form-and-filter-line-height: 3.125rem;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
}
section {
    margin-top: 35px;
}

a {
    color: inherit;
    text-decoration: none;
}
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.section-title {
    margin: 0;
    font-size: var(--title-font-size);
}

.headline-text {
    margin-top: 8px;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}
.card-wrap {
    flex-grow: 1;
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: var(--card-title-font-size);
    font-weight: var(--bold-font-weight);
}
.card-subtitle {
    font-size: var(--card-subtitle-font-size);
    font-weight: var(--body-font-weight);
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo {
    width: 60px;
    margin: 30px 0;
}
.main-menu ul {
    display: flex;
    flex-direction: row;
}
.main-menu li:not(:last-child) {
    margin-right: 4.25rem;
}
.main-menu a {
    display: block;
    font-size: var(--nav-font-size);
    padding-top: 14px;
    border-top: 2px solid white;
}
.main-menu a.active-entry,
.main-menu a:hover {
    color: var(--main-color);
    border-top-color: var(--main-color);
}

/****** Form - location search ***********/

.search-label i,
.search-text,
.search-submit {
    font-size: var(--form-font-size);
    font-weight: var(--bold-font-weight);
    line-height: var(--form-and-filter-line-height);
    text-align: center;
}
.search-form {
    display: flex;
    margin: 35px 0;
    height: 3.125rem;
}
.search-label {
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    cursor: pointer;
}
.search-label i {
    color: black;
    width: 3.125rem;
    font-size: 1.2rem;
}
.search-text {
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: var(--main-bg-color);
    width: 12.2rem;
}
.search-text:focus-visible {
    outline: none;
}
.search-text,
.search-submit {
    padding: 0 16px;
}
.search-submit {
    color: white;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

/****** Filters ***********/
.filter-title {
    font-size: var(--body-large-font-size);
    font-weight: var(--bold-font-weight);
    line-height: var(--form-and-filter-line-height);
}
.filter-text {
    font-size: var(--filter-font-size);
    font-weight: var(--bold-font-weight);
    line-height: var(--form-and-filter-line-height);
}
.filter-form,
.filter-list,
.filter-info {
    display: flex;
}
.filter-form {
    margin: 35px 0;
}
.filter-item {
    border-radius: 25px;
    border: 2px solid var(--filter-border-color);
    padding: 0 19px;
    cursor: default;
}
.filter-item:hover {
    background-color: var(--filter-bg-color);
}
.filter-title,
.filter-item:not(:last-of-type) {
    margin-right: 15px;
}
.filter-icon {
    font-size: 1.2rem;
    margin-right: 10px;
}
.info-icon {
    border: 1px solid var(--filter-border-color);
    border-radius: 100%;
    width: 24px;
    height: 24px;
    line-height: 20px;
    text-align: center;
    font-size: 0.7rem;
    margin-right: 10px;
}
.info-text {
    line-height: 24px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
}


/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.hebergements-cards {
    margin-bottom: 30px;
}
.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    min-width: 220px;
}
.hebergements-cards img {
    width: 100%;
    height: 7.125rem;
    border-radius: 20px 20px 0 0;
}
.hebergements-cards .card-content {
    padding: 10px 15px 15px 15px;
}
.hebergements-cards .card-title {
    margin: 0 0 8px 0;
}
.hebergements-cards .card-subtitle {
    margin-bottom: 8px;
}
.hebergements-cards .card-rating i {
    font-size: 0.83rem;
}
.hebergements .more-link {
    font-size: var(--body-large-font-size);
    font-weight: var(--bold-font-weight);
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}
.populaires-cards {
    flex-direction: column;
}
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.populaires-cards .card {
    display: flex;
}
.populaires-cards img {
    width: 33%;
    height: 8.5rem;
    border-radius: 20px 0 0 20px;
}
.populaires-cards .card-content {
    width: 67%;
    padding: 10px 10px 0 15px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.populaires-cards .card-title {
    margin: 0 0 4px 0;
}
.populaires-cards .card-subtitle {
    margin: 0;
}
.populaires-cards .card-rating i {
    font-size: 0.75rem;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    /* .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    } */
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}